fastapi
sqlmodel
asyncpg
greenlet
uvicorn[standard]
python-dotenv
pydantic-settings
finnhub-python
ollama
yfinance
nselib
mftool
feedparser
langchain
langchain-core
langchain-ollama
python-jose[cryptography]
httpx
